@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply m-0 p-0 overflow-x-hidden font-roboto-condensed;
  }
}

@layer components {}

@layer utilities {
  .font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
}